*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

#page_wrapper{
    background-color: #f5efef;
    width: 920px;
}

h1, h3{
    display: inline-block;
}

h3{
    float: right;
    line-height: 2;
}

#header{
    padding: 10px;
}

#main1 img{
    width: 380px;
    border: 3px solid gainsboro;
}

#main1 p{
    width: 450px;
}

#main_content{
    background-color: #46353d;
    padding-left: 20px;
    padding-top: 20px;
}

.paragraph{
    background-color: rgb(226, 217, 228);
    padding: 10px;
}

.block, .block2{
    display: inline-block;
    vertical-align: top;
    background-color: rgb(226, 217, 228);
    margin-right: 10px;
    margin-bottom: 20px;
}

.block2, .block2 img{
    width: 280px;
}

.title{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccced1), to(#2F2727));
    color: white;
    padding: 10px;
}

.block2 p{
    font-size: 9pt;
    background-color: rgb(226, 217, 228);
}

.icon img{
    width: 30px;
    padding: 5px;
}

.icon{
    padding-left: 12px;
    background-color: rgb(226, 217, 228);
    
}

.button{
    background-color: rgb(115, 155, 115);
    display: inline;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: white;
}

.button-div{
    text-align: center;
    padding-bottom: 10px;
}

.small_p{
    padding: 7px;
}

#footer{
    text-align: center;
    padding: 10px;
}

#footer img{
    width: 20px;
}

#footer a{
    vertical-align: top;
    font-style: italic;
}